.vs/DirectX12/FileContentIndex/fc74583b-34ec-42d2-9c1c-20ad6b71fbdd.vsidx
.vs/DirectX12/v17/Browse.VC.db
.vs/DirectX12/v17/DocumentLayout.backup.json
.vs/DirectX12/v17/DocumentLayout.json
.vs/DirectX12/v17/Solution.VC.db
DirectX12/x64/Debug/DirectX12.exe.recipe
DirectX12/x64/Debug/vc143.idb
DirectX12/x64/Debug/DirectX12.tlog/CL.14412.write.1.tlog
DirectX12/x64/Debug/DirectX12.tlog/CL.command.1.tlog
DirectX12/x64/Debug/DirectX12.tlog/Cl.items.tlog
DirectX12/x64/Debug/DirectX12.tlog/CL.read.1.tlog
DirectX12/x64/Debug/DirectX12.tlog/DirectX12.lastbuildstate
DirectX12/x64/Debug/DirectX12.tlog/link.command.1.tlog
DirectX12/x64/Debug/DirectX12.tlog/link.read.1.tlog
DirectX12/x64/Debug/DirectX12.tlog/link.secondary.1.tlog
DirectX12/x64/Debug/DirectX12.tlog/link.write.1.tlog
.vs/DirectX12/FileContentIndex/54a6415e-efbf-4ab8-99f9-11676ca8f109.vsidx
.vs/DirectX12/v17/ipch/AutoPCH/2f36ff352abd0c41/IMGUI_NEO_INTERNAL.ipch
.vs/DirectX12/v17/ipch/AutoPCH/4b694e4c4fc6d989/DIALOG.ipch
